@import '../../utilities/variables';
@import '../../utilities/mixins';

textarea {
    @include neumorph-input();
}

.sidebar{
    position: fixed !important;
    overflow-y: auto;
    background-color: $primary !important;
}

.send-icon{
    border-radius: 1.2rem;
    background-color: $primary;
    color: #fff;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.messages-container {
    overflow-y: scroll;
    padding-top: 1rem;
    height: 100%;
}

.message {
    margin: 3rem 0;
    line-height: 1.5;
}

.message-icon {
    user-select: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding-top: 0.6rem;
    box-shadow: $outer-shadow;
    text-align: center;
}

.chat{
    height: 80vh !important;
    bottom: 0;
}

@media screen and (max-width: 991px) {
    .message-icon {
        margin-bottom: 1rem;
    }
    .send-icon {
        margin-top: 0.5rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 810px) {
    .chat {
        max-width: 5rem !important;
    }
}

@media screen and (max-width: 650px) {
    .chat {
        margin-left: 64px !important;
    }
}