@import '../../utilities/variables';
@import '../../utilities/mixins';

input {
    @include neumorph-input();
}

.sidebar{
    background-color: $primary !important;
}

.messages-container {
    overflow-y: scroll;
    height: 100%;
}

.message {
    margin: 3rem 0;
    line-height: 0.5;
}

.message-icon {
    user-select: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    box-shadow: $outer-shadow;
    text-align: center;
}

.chat{
    height: 80vh !important;
}

@media screen and (max-width: 850px) {
    .chat {
        margin-left: 64px !important;
    }
}

@media screen and (max-width: 766px) {
    .chat {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 650px) {
    .chat {
        margin-left: 64px !important;
    }
}