@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$primary: #173058;
$secondary: #FF7F00;

* {
    font-family: "Fredoka One", serif;
}

a {
    text-decoration: none !important;
}

input {
    display: block;
}

body {
    overflow-x: hidden;
}

.to-back {
    z-index: -1;
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.mat-btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    transform: translate(-50%, -50%);
}

.mat-btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.mat-btn:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.cta-btn-primary {
    background-color: $primary;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1.09rem;
    padding: 0.8rem 0;
    user-select: none;
    text-align: center;
}

.cta-btn-primary:hover {
    color: #ffffff !important;
}