$outward-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
-8px -8px 12px 0 rgba(0, 0, 0, .25) inset;

$inward-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

nav {
    margin: auto;
    max-width: 80%;
    a {
        display: flex;
        user-select: none;
        justify-content: center;
        align-items: center;
        margin: 0 1.7rem;
    }
    .mat-btn{
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        color: #ffffff !important;
    }
}

.container {
    min-width: 80%
}

.landing-container {
    background: rgba(228, 228, 228, 0.23);
    border-radius: 40px;
    margin: 2rem;
    padding-bottom: 5rem;
}

.landing-title {
    line-height: 1.4;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.logo:hover {
    animation: spin 3s linear infinite;
}

.circle-1 {
    position: absolute;
    z-index: -1;
    top: 30%;
    width: 26%;
    left: 10%;
}

.circle-2 {
    position: absolute;
    z-index: -1;
    top: 7%;
    width: 26%;
    right: 5%;
}

.nav-spacing-buffer {
    margin-top: 7rem;
}

.spacing-buffer {
    margin-top: 11rem;
}

.what-we-offer-card {
    background-color: #FFFFFF;
    box-shadow: $outward-shadow;
    border-radius: 30px;
    padding: 1.3rem;
    height: 100%;
    width: 100%;
    height: 355px;
    margin: auto;
    line-height: 2;
}

@mixin neumorph-input {
    width: 100%;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    padding: 1.2rem;
    border-radius: 30px;
    box-shadow: $inward-shadow;
}

.contact-form {
    input {
        @include neumorph-input();
    }

    textarea {
        @include neumorph-input();
        min-height: 18rem;
        line-height: 1.7;
    }
    
}

@media screen and (max-width: 575px) {
    .what-we-offer-card {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    .landing-nav-buffer {
        margin-top: 2rem;
    }

    nav {
        a {
            margin: 0.5rem 0
        }
    }
    
    .intro-text {
        margin-bottom: 4rem;
    }
}